Binaries
DerivedDataCache
Intermediate
Saved
Content/Megascans
Content/Audio
Content/Materials
Content/StarterContent
Content/Effects
Content/Cinematics
Content/StarterContent
Content/MSPresets
Content/Maps
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
